In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt

import wrangle

from scipy import stats
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import f_regression 
from math import sqrt
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = wrangle.acquire_zillow()
df

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,id.1,parcelid.1,logerror,transactiondate
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,2016.0,537569.0,11013.72,NaN,NaN,6.059063e+13,0,14297519,0.025595,2017-01-01
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,2016.0,376000.0,5672.48,NaN,NaN,6.111001e+13,1,17052889,0.055619,2017-01-01
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,2016.0,479489.0,6488.30,NaN,NaN,6.059022e+13,2,14186244,0.005383,2017-01-01
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,2016.0,36225.0,1777.51,NaN,NaN,6.037300e+13,3,12177905,-0.103410,2017-01-01
4,781532,12095076,1.0,NaN,NaN,3.0,4.0,NaN,9.0,3.0,...,2016.0,496619.0,9516.26,NaN,NaN,6.037461e+13,6,12095076,-0.001011,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52437,673515,11000655,NaN,NaN,NaN,2.0,2.0,NaN,6.0,2.0,...,2016.0,283704.0,4478.43,NaN,NaN,6.037101e+13,77609,11000655,0.020615,2017-09-20
52438,2968375,17239384,NaN,NaN,NaN,2.0,4.0,NaN,NaN,2.0,...,2016.0,16522.0,1107.48,NaN,NaN,6.111008e+13,77610,17239384,0.013209,2017-09-21
52439,1843709,12773139,1.0,NaN,NaN,1.0,3.0,NaN,4.0,1.0,...,2016.0,16749.0,876.43,NaN,NaN,6.037434e+13,77611,12773139,0.037129,2017-09-21
52440,1187175,12826780,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,...,2016.0,382000.0,6317.15,NaN,NaN,6.037503e+13,77612,12826780,0.007204,2017-09-25
52441,2455685,13083743,NaN,NaN,NaN,2.0,3.0,NaN,4.0,2.0,...,2016.0,182216.0,3345.78,NaN,NaN,6.037408e+13,77613,13083743,-0.197755,2018-05-25

In [3]:
df[df.isnull()==False].count()

id                          52442
parcelid                    52442
airconditioningtypeid       13638
architecturalstyletypeid       70
basementsqft                   47
                            ...
censustractandblock         52319
id.1                        52442
parcelid.1                  52442
logerror                    52442
transactiondate             52442
Length: 63, dtype: int64

In [4]:
df.count()

id                          52442
parcelid                    52442
airconditioningtypeid       13638
architecturalstyletypeid       70
basementsqft                   47
                            ...
censustractandblock         52319
id.1                        52442
parcelid.1                  52442
logerror                    52442
transactiondate             52442
Length: 63, dtype: int64

In [5]:
df.info

<bound method DataFrame.info of             id  parcelid  airconditioningtypeid  architecturalstyletypeid  \
0      1727539  14297519                    NaN                       NaN
1      1387261  17052889                    NaN                       NaN
2        11677  14186244                    NaN                       NaN
3      2288172  12177905                    NaN                       NaN
4       781532  12095076                    1.0                       NaN
...        ...       ...                    ...                       ...
52437   673515  11000655                    NaN                       NaN
52438  2968375  17239384                    NaN                       NaN
52439  1843709  12773139                    1.0                       NaN
52440  1187175  12826780                    NaN                       NaN
52441  2455685  13083743                    NaN                       NaN

       basementsqft  bathroomcnt  bedroomcnt  buildingclasstypeid  \
0               NaN          3.5         4.0                  NaN
1               NaN          1.0         2.0                  NaN
2               NaN          2.0         3.0                  NaN
3               NaN          3.0         4.0                  NaN
4               NaN          3.0         4.0                  NaN
...             ...          ...         ...                  ...
52437           NaN          2.0         2.0                  NaN
52438           NaN          2.0         4.0                  NaN
52439           NaN          1.0         3.0                  NaN
52440           NaN          2.0         3.0                  NaN
52441           NaN          2.0         3.0                  NaN

       buildingqualitytypeid  calculatedbathnbr  ...  assessmentyear  \
0                        NaN                3.5  ...          2016.0
1                        NaN                1.0  ...          2016.0
2                        NaN                2.0  ...          2016.0
3                        8.0                3.0  ...          2016.0
4                        9.0                3.0  ...          2016.0
...                      ...                ...  ...             ...
52437                    6.0                2.0  ...          2016.0
52438                    NaN                2.0  ...          2016.0
52439                    4.0                1.0  ...          2016.0
52440                    6.0                2.0  ...          2016.0
52441                    4.0                2.0  ...          2016.0

       landtaxvaluedollarcnt  taxamount  taxdelinquencyflag  \
0                   537569.0   11013.72                 NaN
1                   376000.0    5672.48                 NaN
2                   479489.0    6488.30                 NaN
3                    36225.0    1777.51                 NaN
4                   496619.0    9516.26                 NaN
...                      ...        ...                 ...
52437               283704.0    4478.43                 NaN
52438                16522.0    1107.48                 NaN
52439                16749.0     876.43                 NaN
52440               382000.0    6317.15                 NaN
52441               182216.0    3345.78                 NaN

       taxdelinquencyyear  censustractandblock   id.1  parcelid.1  logerror  \
0                     NaN         6.059063e+13      0    14297519  0.025595
1                     NaN         6.111001e+13      1    17052889  0.055619
2                     NaN         6.059022e+13      2    14186244  0.005383
3                     NaN         6.037300e+13      3    12177905 -0.103410
4                     NaN         6.037461e+13      6    12095076 -0.001011
...                   ...                  ...    ...         ...       ...
52437                 NaN         6.037101e+13  77609    11000655  0.020615
52438                 NaN         6.111008e+13  77610    17239384  0.013209
52439                 NaN         6.037434e+13  77611    12773139  0.037129
52440                 NaN         6.037503e+13  77612    12826780  0.007204
52441                 NaN         6.037408e+13  77613    13083743 -0.197755

       transactiondate
0           2017-01-01
1           2017-01-01
2           2017-01-01
3           2017-01-01
4           2017-01-01
...                ...
52437       2017-09-20
52438       2017-09-21
52439       2017-09-21
52440       2017-09-25
52441       2018-05-25

[52442 rows x 63 columns]>

In [6]:
column_to_drop = []

for col in df.columns:
    if df[col].isnull().sum() > 18000:
        column_to_drop.append(col)

In [7]:
column_to_drop

['airconditioningtypeid',
 'architecturalstyletypeid',
 'basementsqft',
 'buildingclasstypeid',
 'buildingqualitytypeid',
 'decktypeid',
 'finishedfloor1squarefeet',
 'finishedsquarefeet13',
 'finishedsquarefeet15',
 'finishedsquarefeet50',
 'finishedsquarefeet6',
 'fireplacecnt',
 'garagecarcnt',
 'garagetotalsqft',
 'hashottuborspa',
 'heatingorsystemtypeid',
 'poolcnt',
 'poolsizesum',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'propertyzoningdesc',
 'regionidneighborhood',
 'storytypeid',
 'threequarterbathnbr',
 'typeconstructiontypeid',
 'unitcnt',
 'yardbuildingsqft17',
 'yardbuildingsqft26',
 'numberofstories',
 'fireplaceflag',
 'taxdelinquencyflag',
 'taxdelinquencyyear']

In [8]:
df.airconditioningtypeid.isnull().sum()

38804

In [9]:
df.fireplaceflag.value_counts()

1.0    81
Name: fireplaceflag, dtype: int64

In [10]:
df.value_counts()

Series([], dtype: int64)

In [11]:
df = df.drop(columns=column_to_drop)

In [12]:
df

,id,parcelid,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,id.1,parcelid.1,logerror,transactiondate
0,1727539,14297519,3.5,4.0,3.5,3100.0,3100.0,6059.0,3.0,33634931.0,...,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,0,14297519,0.025595,2017-01-01
1,1387261,17052889,1.0,2.0,1.0,1465.0,1465.0,6111.0,1.0,34449266.0,...,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,1,17052889,0.055619,2017-01-01
2,11677,14186244,2.0,3.0,2.0,1243.0,1243.0,6059.0,2.0,33886168.0,...,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,2,14186244,0.005383,2017-01-01
3,2288172,12177905,3.0,4.0,3.0,2376.0,2376.0,6037.0,3.0,34245180.0,...,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,3,12177905,-0.103410,2017-01-01
4,781532,12095076,3.0,4.0,3.0,2962.0,2962.0,6037.0,3.0,34145202.0,...,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,6,12095076,-0.001011,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52437,673515,11000655,2.0,2.0,2.0,1286.0,1286.0,6037.0,2.0,34245368.0,...,70917.0,354621.0,2016.0,283704.0,4478.43,6.037101e+13,77609,11000655,0.020615,2017-09-20
52438,2968375,17239384,2.0,4.0,2.0,1612.0,1612.0,6111.0,2.0,34300140.0,...,50683.0,67205.0,2016.0,16522.0,1107.48,6.111008e+13,77610,17239384,0.013209,2017-09-21
52439,1843709,12773139,1.0,3.0,1.0,1032.0,1032.0,6037.0,1.0,34040895.0,...,32797.0,49546.0,2016.0,16749.0,876.43,6.037434e+13,77611,12773139,0.037129,2017-09-21
52440,1187175,12826780,2.0,3.0,2.0,1762.0,1762.0,6037.0,2.0,33937685.0,...,140000.0,522000.0,2016.0,382000.0,6317.15,6.037503e+13,77612,12826780,0.007204,2017-09-25
52441,2455685,13083743,2.0,3.0,2.0,1050.0,1050.0,6037.0,2.0,34010864.0,...,77118.0,259334.0,2016.0,182216.0,3345.78,6.037408e+13,77613,13083743,-0.197755,2018-05-25

In [13]:
df[df.isnull()==False].count()

id                              52442
parcelid                        52442
bathroomcnt                     52442
bedroomcnt                      52442
calculatedbathnbr               52305
calculatedfinishedsquarefeet    52360
finishedsquarefeet12            52195
fips                            52442
fullbathcnt                     52305
latitude                        52442
longitude                       52442
lotsizesquarefeet               52073
propertycountylandusecode       52442
propertylandusetypeid           52442
rawcensustractandblock          52442
regionidcity                    51405
regionidcounty                  52442
regionidzip                     52416
roomcnt                         52442
yearbuilt                       52326
structuretaxvaluedollarcnt      52358
taxvaluedollarcnt               52441
assessmentyear                  52442
landtaxvaluedollarcnt           52441
taxamount                       52438
censustractandblock             52319
id.1                            52442
parcelid.1                      52442
logerror                        52442
transactiondate                 52442
dtype: int64

In [14]:
df.parcelid.value_counts()

13083743    3
11991059    3
12478591    2
12035592    2
12443331    2
           ..
11494547    1
10976762    1
12650619    1
12650850    1
12826780    1
Name: parcelid, Length: 52320, dtype: int64

In [15]:
df.id.value_counts()

2455685    3
1968735    3
1535169    2
2079054    2
1797671    2
          ..
496079     1
1508722    1
366314     1
2930973    1
1187175    1
Name: id, Length: 52320, dtype: int64

In [16]:
df.calculatedfinishedsquarefeet.isnull().value_counts()

False    52360
True        82
Name: calculatedfinishedsquarefeet, dtype: int64

In [17]:
df.finishedsquarefeet12.isnull().value_counts()

False    52195
True       247
Name: finishedsquarefeet12, dtype: int64

In [18]:
df.calculatedbathnbr.isnull().value_counts()

False    52305
True       137
Name: calculatedbathnbr, dtype: int64

In [19]:
df.bathroomcnt.isnull().value_counts()

False    52442
Name: bathroomcnt, dtype: int64

In [20]:
df.rawcensustractandblock.value_counts()

6.037920e+07    36
6.037920e+07    32
6.037142e+07    24
6.059032e+07    24
6.059032e+07    23
                ..
6.037578e+07     1
6.037578e+07     1
6.037535e+07     1
6.037241e+07     1
6.037503e+07     1
Name: rawcensustractandblock, Length: 31440, dtype: int64

In [21]:
df.fips.value_counts()

6037.0    33911
6059.0    14136
6111.0     4395
Name: fips, dtype: int64

In [22]:
df.regionidzip.value_counts()

97319.0    776
97318.0    674
97329.0    564
97328.0    519
97118.0    498
          ...
96467.0      1
97092.0      1
96148.0      1
96038.0      1
97088.0      1
Name: regionidzip, Length: 381, dtype: int64

In [23]:
df.regionidzip.nunique()

381

In [24]:

# Define the mapping of old values to new values
value_mapping = {6037.0: 'Los Angeles', 6059.0: 'Orange', 6111.0: 'Ventura'}

# Create a new column with updated values based on the mapping
df['county'] = df['fips'].map(value_mapping)

# Print the DataFrame
df.county

0             Orange
1            Ventura
2             Orange
3        Los Angeles
4        Los Angeles
            ...
52437    Los Angeles
52438        Ventura
52439    Los Angeles
52440    Los Angeles
52441    Los Angeles
Name: county, Length: 52442, dtype: object

In [25]:
# drop duplicates and other columns that have no value because they 
# are not categorical or have the sduplicating values and values that just repeat
df.drop(columns=['id.1', 'parcelid.1', 'assessmentyear', 'roomcnt', 'transactiondate', 'finishedsquarefeet12', 
                 'latitude', 'longitude', 'calculatedbathnbr', 'fullbathcnt','parcelid', 'id', 
                 'rawcensustractandblock', 'propertylandusetypeid', 'censustractandblock', 'fips', 
                 'regionidcounty', 'propertycountylandusecode'], inplace=True)

In [26]:
df.T.head(50)

,0,1,2,3,4,5,6,7,8,9,...,52432,52433,52434,52435,52436,52437,52438,52439,52440,52441
bathroomcnt,3.5,1.0,2.0,3.0,3.0,1.0,3.0,3.0,2.5,2.5,...,1.0,1.0,3.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0
bedroomcnt,4.0,2.0,3.0,4.0,4.0,2.0,4.0,4.0,3.0,3.0,...,1.0,2.0,4.0,3.0,4.0,2.0,4.0,3.0,3.0,3.0
calculatedfinishedsquarefeet,3100.0,1465.0,1243.0,2376.0,2962.0,738.0,3039.0,2540.0,1340.0,1371.0,...,624.0,912.0,2068.0,1570.0,1633.0,1286.0,1612.0,1032.0,1762.0,1050.0
lotsizesquarefeet,4506.0,12647.0,8432.0,13038.0,63000.0,4214.0,20028.0,10384.0,1199.0,3445.0,...,45398.0,4995.0,7333.0,7499.0,4630.0,47405.0,12105.0,5074.0,6347.0,5927.0
regionidcity,53571.0,13091.0,21412.0,396551.0,47019.0,45457.0,14634.0,54311.0,24832.0,13150.0,...,5534.0,45457.0,20008.0,12447.0,30267.0,12447.0,27110.0,36502.0,14634.0,118217.0
regionidzip,96978.0,97099.0,97078.0,96330.0,96293.0,96325.0,96173.0,96374.0,97051.0,97107.0,...,97319.0,96320.0,96508.0,96342.0,96204.0,96284.0,97116.0,96480.0,96171.0,96488.0
yearbuilt,1998.0,1967.0,1962.0,1970.0,1950.0,1922.0,1970.0,1999.0,1980.0,2004.0,...,1944.0,1947.0,1967.0,1958.0,1962.0,1940.0,1964.0,1954.0,1955.0,1960.0
structuretaxvaluedollarcnt,485713.0,88000.0,85289.0,108918.0,276684.0,18890.0,177527.0,271715.0,96617.0,99026.0,...,49024.0,122480.0,211040.0,46784.0,125466.0,70917.0,50683.0,32797.0,140000.0,77118.0
taxvaluedollarcnt,1023282.0,464000.0,564778.0,145143.0,773303.0,218552.0,220583.0,430108.0,319668.0,198054.0,...,81706.0,312183.0,332251.0,72026.0,346534.0,354621.0,67205.0,49546.0,522000.0,259334.0
landtaxvaluedollarcnt,537569.0,376000.0,479489.0,36225.0,496619.0,199662.0,43056.0,158393.0,223051.0,99028.0,...,32682.0,189703.0,121211.0,25242.0,221068.0,283704.0,16522.0,16749.0,382000.0,182216.0
taxamount,11013.72,5672.48,6488.3,1777.51,9516.26,2366.08,3104.19,6103.36,4078.08,2204.84,...,1131.24,3465.38,4225.84,1000.7,4175.08,4478.43,1107.48,876.43,6317.15,3345.78
logerror,0.025595,0.055619,0.005383,-0.10341,-0.001011,0.101723,-0.040966,0.005963,0.045602,0.008669,...,0.013268,-0.140881,0.319408,0.081196,0.001082,0.020615,0.013209,0.037129,0.007204,-0.197755
county,Orange,Ventura,Orange,Los Angeles,Los Angeles,Los Angeles,Los Angeles,Los Angeles,Orange,Ventura,...,Los Angeles,Los Angeles,Los Angeles,Los Angeles,Los Angeles,Los Angeles,Ventura,Los Angeles,Los Angeles,Los Angeles

In [27]:
# from geopy.geocoders import Nominatim

# geolocator = Nominatim(user_agent="mannievilla@gmail.com")

# county = []

# for row in range(len(df)):
#     latitude = df['latitude'][row]*0.000001
#     longitude = df['longitude'][row]*0.000001
    
#     if -90 <= latitude <= 90:
#         try:
#             location = geolocator.reverse((latitude, longitude))
#             county.append(location.raw['address'].get('county'))
#         except:
#             county.append(None)
#     else:
#         county.append(None)

In [28]:
# county = []

# for row in range(len(df)):
    
    
#     # Using Nominatim Api
#     geolocator = Nominatim(user_agent="Zillow_project")

#     # Zipcode input
#     zipcode = round(df['regionidzip'][row])

#     # Using geocode()
#     location = geolocator.geocode(zipcode)
#     county.append(location)